<%- include("./partials/header")%>
<%- include("./partials/nav")%>
<link rel="stylesheet" href="stylesheets/style.css">

<div class="title"><h1>TAsk-manager</h1><div class="button"><button><a href="/login">Login</a></button><button><a href="signup">Sign up  </a></button></div>
<%-include("./partials/footer")%>