<%- include("./partials/header")%>
<!-- <%- include("./partials/nav")%> -->
<link rel="stylesheet" href="otp.css">
<div class = "container">
  <h4>Enter OTP</h4>
  <form action = "/forget/<%= admin._id%>" method="post">
    <div class = "input-field">
      <input type="number " name="token" placeholder="Enter Otp here...">
      <input type="password" name="newpassword" placeholder="new password">
     
      <button>Verify OTP</button>
    </div>
  </form>
</div>
<%-include("./partials/footer")%>


